@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiDataGrid-aggregationColumnHeader--alignCenter {
    text-align: center;
}

h4 {
    margin: 20px 0;
}

.btnSave {
    width: auto !important;
}

.box-footer.MuiBox-root.css-xn6ruc {
    display: flex;
    justify-content: space-between;
}

.css-6h1dhi-MuiDataGrid-root .MuiDataGrid-columnHeaderTitleContainer {
    justify-content: center;
}